.adminka {
  display: flex;
  flex-direction: column;
  & h2 {
    text-align: center;
  }
  &-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    & input {
      padding: 7px 30px;
    }
    & label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 450px;
      background-color: turquoise;
      padding: 10px 20px;
      max-height: 20px;
      overflow: hidden;
      margin-bottom: 15px;
      & span {
        padding: 7px 73px;
        background-color: #fff;
        border: 1px solid #797676;
      }
    }
    &-author {
    }
    &-img {
      margin-left: 108px;
      // padding: 30px 20px;
      // display: none;
    }
    &-title {
    }
    &-year {
    }
    &-pages {
    }
    &-summary {
    }
    &-language {
    }
    &-count {
    }
    &-select {
      padding: 7px 75px;
    }
    &-btn {
      padding: 7px 95px;
      background-color: springgreen;
      border: none;
      border: 1px solid #797979;
      cursor: pointer;
    }
  }
}
